<html>
  <head>  
    <link rel='stylesheet' type='text/css' href="../static/style.css">
    <title>Docker PaaS</title>
  </head>


  <body>
    <div class="title">
      <p style="text-align:left; margin-left:50px;"><img src="../static/docker_logo.png" width="100px"></p>
      <h2>Docker Pets as a Service Victor Nascimento</h2>
    </div>
    <div class="wrapper">

      <div class="container">
        <img src="{{url}}" class="centerfold"/>
      </div>
      <div class="stats">
        <p>Processed by container ID</p>
        <p><b>{{hostname}}</b></p>
        <p><b>{{hit_string}}</b></p>
        <p>version {{version}}</p>
      </div> 
    </div>

    <div class="petOpts">
      
      {% if db_exists|string() == "True"|string() %}
      <div class="petOptsLeft">
        <form id="choice" name='form' method="GET" action="/vote">
            <button id="vote" type="submit" name="vote" class="btn">Vote Again</button>
        </form>
      </div>
      {% endif %}

      <div class="petOptsRight">
        <form id="choice" name='form' method="GET" action="/">
            <button id="reload" type="submit" name="reload" class="btn">Serve Another Pet</button> 
        </form>
      </div>    
    </div>
  


  </body>
</html>
